<div class="jumbotron">
    <h1>Vector Callback Examples</h1>
    <p class="lead">This project provides example endpoints for handling callbacks from the <a href="http://www.3seventy.com/solution/vector_tsp/">3Sevety Vector</a> platform.</p>
    <p><a href="http://www.3seventy.com/solution/vector_tsp/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            <!-- TODO: Fill in with a more marketting savy copy. -->
            The 3Seventy Vectory platform makes it easy to send SMS messages to mobile devices.
        </p>
        <p><a class="btn btn-default" href="https://api.3seventy.com/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>TODO: Add blurb about other language bindings here.</p>
        @* TODO: Link to where we have our libraries available for download. *@
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Some other thing here?</h2>
        <p>
            More details
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
